<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_SIMARF_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.201;user id=;password=;initial catalog=SIMARF;Persist Security Info=true" />
        <add name="Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.201;user id=;password=;initial catalog=SIMARF;Persist Security Info=true" />
        <add name="Connection 1" connectionString="XpoProvider=MSSqlServer;&#xD;&#xA;Server=192.168.1.201,1433;&#xD;&#xA;Database=SIMARF;&#xD;&#xA;MultipleActiveResultSets=True;&#xD;&#xA;User ID=user;&#xD;&#xA;Password=user12345;&#xD;&#xA;" />
        <add name="koneksi" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.201,1433;user id=user;password=user12345;initial catalog=SIMARF;Persist Security Info=true" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>